{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Activation Status</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/activation_emails.css' %}"
    />
</head>
<body>
    <div class="container">
        <h1>Activation Status</h1>
        {% if activation_status.status != 200 %}
            <p class="error">{{ activation_status.message }}</p>
        {% else %}
            <p class="success">{{ activation_status.message }}</p>
        {% endif %}
    </div>
</body>
</html>
