{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>New Post Created</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/emails.css' %}"
  />
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">
        {% comment %} <h1>New Post Created</h1> {% endcomment %}
      </div>
      <div class="email-body">
        <p>{{ message }}</p>
        {% comment %} <a
          href="{{post_url}}"
          style="
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 3px;
          "
          class="button"
          >View Post</a
        > {% endcomment %}
      </div>
      <div class="email-footer">
        <p>Thank you for being a valued member of our community.</p>
      </div>
    </div>
  </body>
</html>
